<div class="bodyTemplate">
  <%= header %>
  <%= bookChart %>
  <!-- <button  id="loadMoreButt" class="loadMoreButt" type="button" name="button">
    <div>load more...</div>
    <i class="fas fa-angle-double-down"></i>
  </button> -->
</div>
