<div class=<%=headerClass%> id="header">
  <div class='headerLeft'></div>
  <div class="headerCenter" id="headerCenter">
    <div class=<%=titleClass%> id="title">Vanilla BookStore</div>
    <div class="finder">
      <input gorilla-keypress="onSearchSubmit" id="input" type="text" name="" value="">
      <button gorilla-click="onSearchBtnClick" id="inputBtn" type="button" name="button"><i class="fas fa-search" style="font-size:30px;color:gray"></i></button>
      <i style="color:white;font-size:30px;margin-left:10px" gorilla-click="TransformToList" class="fas fa-bars"></i>
      <i style="color:white;font-size:30px;margin-left:10px" gorilla-click="TransformToCard" class="fas fa-th"></i>
    </div>
  </div>
  <div class='headerExtraSpace'></div>
</div>
